.pagination ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.item {
    display: inline-block;
    background: #6EB6E6;
    border-radius: 3px;
    color: #ffffff;
    font-family: "Helvetic Neue", Helvetica, Arial;
    font-size: 14px;
}

.item:hover {
    background: #3C8CC3;
    cursor: pointer;
}

.item a {
    display: inline-block;
    padding: 14px 10px;
    text-decoration: none;
    color: #ffffff;
}

.item.ellipsis {
    background: none;
}

.item.ellipsis a {
    color: #000;
    padding: 2px;
}

.item.ellipsis:hover {
    background: none;
}
